.search_bar_inner{
    background-color: #fff;
}
.search_bar{
    display: flex;
    justify-content: flex-end;
    border: 5px solid rgb(218, 216, 216);
    border-radius: 3px;
}
.search-outer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 8px;
}
.input_margin{
    margin: 5px;
}
form input{
    background-color: #eeeeee !important;
}
.search_submit{
    border: #eeeeee;
    border-radius: 3px;
    font-weight: bold;
    height: 20px;


}