.notice_board{
    /* background-color: rgb(81, 64, 187); */
    background-color: rgb(81, 64, 187);
    /* background-color: skyblue; */
    color: black !important;
    /* font-weight: bold; */
    padding: 5px;
}

.notice{
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.notice:hover{
    color: white;
}
.navlink_design{
    text-decoration: none;
    color: white;
    color: rgb(81, 64, 187);
    font-weight: bold;
    font-size: 20px;
}
.nav_bg{
    background-color: white;
color: rgb(81, 64, 187);
}

.navlink_design1{
    text-decoration: none;
    /* color: white; */
    color: rgb(81, 64, 187);
    font-weight: bold;
    margin: 8px;
}

.office_info{
font-size: small;
margin: 8px;
}
.drop_down{
    display: block;
    padding-top: 0px !important;
}
.navDesign{
    text-decoration: none;
    margin: 10px;
    color: white !important;
}
.navDesign1{
    color: aliceblue;
}

.dropdown::after{
    display: none !important; 
  }
  .nav2-login-btn{
    background-color: rgb(81, 64, 187);
    padding: 6px 30px;
    border: none;
  }


  .nav_bg1{
    background-color: rgb(81, 64, 187);
    color: white;
  }
  .navlink_design2{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10px;
}